<?xml version="1.0"?>
<config>
    <modules>
        <Mediotype_Recaptcha>
            <version>0.0.2</version>
        </Mediotype_Recaptcha>
    </modules>
    <global>
        <blocks>
            <mediotype_recaptcha>
                <class>Mediotype_Recaptcha_Block</class>
            </mediotype_recaptcha>
        </blocks>
        <helpers>
            <mediotype_recaptcha>
                <class>Mediotype_Recaptcha_Helper</class>
            </mediotype_recaptcha>
        </helpers>
        <!--<events>-->
            <!--<catalog_product_save_after>-->
                <!--<observers>-->
                    <!--<mediotype_recaptcha>-->
                        <!--<type>singleton</type>-->
                        <!--<class>mediotype_recaptcha/observer</class>-->
                        <!--<method>catalogProductSaveAfter</method>-->
                    <!--</mediotype_recaptcha>-->
                <!--</observers>-->
            <!--</catalog_product_save_after>-->
        <!--</events>-->
    </global>
    <frontend>
        <layout>
            <updates>
                <mediotype_recaptcha>
                    <file>mediotype/recaptcha/recaptcha.xml</file>
                </mediotype_recaptcha>
            </updates>
        </layout>
        <routers>
            <mediotype_recaptcha>
                <use>standard</use>
                <args>
                    <module>Mediotype_Recaptcha</module>
                    <frontName>hr</frontName>
                </args>
            </mediotype_recaptcha>
        </routers>
    </frontend>
    <default>
        <mediotype_recaptcha>
            <general>
                <enabled>0</enabled>
            </general>
        </mediotype_recaptcha>
    </default>
</config>
